body 
{
    background-color: ivory;
}

.kapsayan 
{
    width: 90%;
    margin: auto;
}

.baslik 
{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menum 
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    display: flex;
    line-height: 20px;
    gap: 20px;
}

.menum li, a 
{
    color: black;
    text-decoration: none;
    text-align: center;
    transition: color 0.5s ease-in-out;
}

.menum a:hover 
{
    color: red;
}

.orta 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 20px;
}

#resim1 
{
    width: 24%;  
    height: auto;
    border-radius: 10px;
    border: 1px solid ivory;
}

#yazi 
{
    width: 60%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}

.sosyalmedya 
{
    gap: 20px;
    list-style: none;
    padding: 0;
    display: flex;
}

.sosyalmedya li,a 
{
    text-decoration: none;
    color: #333;
}

.sosyalmedya a:hover
{
    text-decoration: underline;
}

.iletisim 
{
    width: 50%;
    margin: 20px auto;
}

form 
{
    display: flex;
    flex-direction: column;
}

input, textarea 
{
    border-radius: 10px;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
}

.footer 
{
    position: fixed;
    bottom: 0;
    width: 88%;
    padding: 10px;
    text-align: center;
    color: black;
}